<header>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <span class="ms-2">Palia Fishing</span>
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="searchByName();">Search by fish</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="searchByLocation();">Search by location</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div id="main_screen">
        <h3>Welcome! Please select a search method from the navigation bar to get started.</h3>
        <br>
        <p><strong>How this information is gathered:</strong></p>
        <p>This information is crowdsourced using a separate app to record the fish caught and the time of day, then uploaded to a database.</p>
        <p>If you would like to help with crowdsourcing this information, please download the app <a href="https://github.com/bonnie-dentinger/palia-fishing-ocr/releases/tag/v1.0.2">here</a>.</p>
        <p>If you have any questions, concerns, or suggestions, please contact me on Discord at .shelanoir</p>
        <p>All credits for the images and intellectual property of Palia go to Singularity 6.</p>
        <p class="text-muted">{{ total_fish }} fish have been recorded while pursuing our Oneness.</p>
        <script>
            kofiWidgetOverlay.draw('R6R3L1Y6X', {
                'type': 'floating-chat',
                'floating-chat.donateButton.text': 'Support me',
                'floating-chat.donateButton.background-color': '#00b9fe',
                'floating-chat.donateButton.text-color': '#fff'
            });
        </script>
    </div>
    <div id="all_fish_info" style="display: none;">
        <ul class="nav justify-content-center">
            {% set alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
            {% for letter in alphabet %}
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="$('.tab-pane').hide();$('#{{letter}}').show();">{{ letter }}</a>
                </li>
            {% endfor %}
        </ul>
        <div id="fish_list">
            <!-- show buttons for fish based off tab letter -->
            {% for letter in alphabet %}
                <div id="{{letter}}" class="tab-pane" style="display: none;">
                    <div class="d-flex justify-content-center" style="flex-wrap: wrap;">
                        {% for fish in fish_dict[letter] %}
                            <button id="show_fish_{{loop.index0}}" type="button" class="btn btn-outline-primary m-2" onclick='getFishInfo("{{fish.name}}", "{{loop.index0}}");'>{{ fish.name }}</button>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="fish_info" style="display: none;">
        </div>
    </div>
    <div id="all_location_info" style="display: none;">
        <div class="d-flex justify-content-center">
            {% for location in fishing_locations %}
                {% if location == 'Kilima Pond/Bahari Ponds' %}
                    <button id="show_location_{{loop.index0}}" type="button" class="btn btn-outline-primary m-2" onclick='getLocationInfo("Ponds", "{{loop.index0}}");'>Ponds</button>
                {% else %}
                    <button id="show_location_{{loop.index0}}" type="button" class="btn btn-outline-primary m-2" onclick='getLocationInfo("{{location}}", "{{loop.index0}}");'>{{ location }}</button>
                {% endif %}
            {% endfor %}
        </div>
        <div id="location_info">
        </div>
    </div>
</main>
<style>
    /* move navbar to the left */
    .navbar {
        position: absolute;
        left: 0;
        top: 0;
        width: 15%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .navbar-brand {
        cursor: default;
    }
    /* move main content to the right */
    main {
        position: absolute;
        left: 15%;
        top: 0;
        width: 85%;
        height: 100%;
        overflow-y: scroll;
        padding: 1rem;
    }
</style>