
<div style="position: relative;width:min-content;margin:0 auto;">
    <div class="fish-info">
        <p class="fish-name mb-0 text-end"><strong></strong>{{fish.name}}</p>
        <img src="static/images/Fish/{{fish.name}}.webp" height="40"/> 
        {% for time in fish_times %}
            {% if time.time_of_day == 'Morning' %}
                {% set icon = 'fa-sunrise' %}
                {% set color = '#F5947B' %}
            {% elif time.time_of_day == 'Day' %}
                {% set icon = 'fa-sun' %}
                {% set color = '#F7C9A5' %}
            {% elif time.time_of_day == 'Evening' %}
                {% set icon = 'fa-sunset' %}
                {% set color = '#DC717B' %}
            {% elif time.time_of_day == 'Night' %}
                {% set icon = 'fa-moon' %}
                {% set color = '#957A8A' %}
            {% endif %}
            <p class="mb-0 text-center" style="color: white;"><i class="fas fa-light {{icon}} p-2" style="color: {{color}};font-size: 1.5em;"></i>
            {% for key, value in entry_percents.items() %}
                {% if key == time.time_of_day %}
                    {{value}}%</p>
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% if fish.bait != 'None' %}
        <img src="/static/images/{{fish.bait}}.webp" alt="{{fish.bait}}" height="40">
        {% else %}
        <img src="/static/images/None.png" alt="None" height="40">
        {% endif %}
        <p class="py-1 mb-0" style="color: white;"><img src="/static/images/coin.png" alt="Coin"> {{fish.sells_for}}</p>
    </div>
    {% if fish.locations != 'Kilima Pond/Bahari Ponds' %}
    <img id="location_img" src="/static/images/{{fish.locations}}.png" alt="Location" style="border-radius:10px;"/>
    {% else %}
    <img id="location_img" src="/static/images/Ponds/Kilima Ponds.png" alt="Location" style="border-radius:10px;"/>
    {% endif %}
    
    {% if fish.locations == 'Kilima Pond/Bahari Ponds' %}
    <button id="switch_loc_btn" class="btn btn-primary" style="position: absolute;bottom: 2%;left: 2%;" onclick="bahariPonds();">Go to Bahari</button>
    {% endif %}
</div>
<script>
    function kilimaPonds() {
        document.getElementById('location_img').src = '/static/images/Ponds/Kilima Ponds.png';
        $('#switch_loc_btn').text('Go to Bahari');
        $('#switch_loc_btn').attr('onclick', 'bahariPonds();');
    }

    function bahariPonds() {
        document.getElementById('location_img').src = '/static/images/Ponds/Bahari Ponds.png';
        $('#switch_loc_btn').text('Go to Kilima');
        $('#switch_loc_btn').attr('onclick', 'kilimaPonds();');
    }
</script>
<style>
    @media (max-width: 768px) {
        #location_img {
            height: 80vw !important;
        }
        .fish-info {
            background-color: rgba(0, 30, 54, 0.75);
            padding: 10px 15px;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100% !important;
        }
        .fish-name {
            font-size: 1em;
            color: white;
        }

        .fish-info p {
            font-size: 0.75em;
        }
    }

    @media (min-width: 769px) {
        .fish-info {
            position: absolute;
            top: 2%;
            right: 2%;
            background-color: rgba(0,30,54, 0.75);
            padding: 10px 15px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            width: 150px !important;
        }
        .fish-name {
            font-size: 1.5em;
            color: white;
        }
    }
</style>