<div class="location-info">
    <h3 class="text-center">{{location}}
        <i class="fas fa-light fa-map-location-dot ms-3 clickable" data-bs-toggle="modal" data-bs-target="#locationModal"></i>
    </h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"><i class="fas fa-light fa-sunrise" style="font-size:2em; color: #F5947B"></i></th>
                <th scope="col"><i class="fas fa-light fa-sun" style="font-size:2em; color: #F7C9A5"></i></th>
                <th scope="col"><i class="fas fa-light fa-sunset" style="font-size:2em; color: #DC717B"></i></th>
                <th scope="col"><i class="fas fa-light fa-moon" style="font-size:2em; color: #957A8A"></i></th>
            </tr>
        </thead>
        <tbody>
        {% for fish in fish_at_location %}
            <tr>
                <td>
                    <img src="/static/images/Fish/{{fish}}.webp" alt="{{fish}}" style="height: 3em;"/> {{fish}}
                </td>
                <td>
                    {% if fish_info[fish][0]['bait'] != 'None' %}
                        <img src="/static/images/{{fish_info[fish][0]['bait']}}.webp" alt="{{fish_info[fish][0]['bait']}}" style="height: 2em;"/>
                    {% endif %}
                </td>
                <td>
                    {% for item in fish_info[fish] %}
                        {% if item['time_of_day'] == 'Morning' %}
                            {% for loc_info in location_info %}
                                {% if loc_info.time_of_day == 'Morning' and loc_info.bait == fish_info[fish][0]['bait'] %}
                                    {{ (item['num_caught'] / loc_info.total_caught * 100) | round(0) | int }}%
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for item in fish_info[fish] %}
                        {% if item['time_of_day'] == 'Day' %}
                            {% for loc_info in location_info %}
                                {% if loc_info.time_of_day == 'Day' and loc_info.bait == fish_info[fish][0]['bait'] %}
                                    {{ (item['num_caught'] / loc_info.total_caught * 100) | round(0) | int }}%
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{% for item in fish_info[fish] %}
                    {% if item['time_of_day'] == 'Evening' %}
                        {% for loc_info in location_info %}
                            {% if loc_info.time_of_day == 'Evening' and loc_info.bait == fish_info[fish][0]['bait'] %}
                                {{ (item['num_caught'] / loc_info.total_caught * 100) | round(0) | int }}%
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </td>
                <td>{% for item in fish_info[fish] %}
                    {% if item['time_of_day'] == 'Night' %}
                        {% for loc_info in location_info %}
                            {% if loc_info.time_of_day == 'Night' and loc_info.bait == fish_info[fish][0]['bait'] %}
                                {{ (item['num_caught'] / loc_info.total_caught * 100) | round(0) | int }}%
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </td>
            </tr>
        {%endfor %}
        </tbody>
    </table>
</div>
<!-- location modal -->
<div class="modal fade" id="locationModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">{{location}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="/static/images/{{location}}.png" alt="{{location}}" style="width: 100%;"/>
            </div>
        </div>
    </div>
</div>
<script>
    // check every row and change the text of the cell with the highest percentage to green
    var table = document.getElementsByTagName('table')[0];
    for (var i = 0, row; row = table.rows[i]; i++) {
        var max = 0;
        var max_index = 0;
        for (var j = 2, col; col = row.cells[j]; j++) {
            if (parseInt(col.innerHTML) > max) {
                max = parseInt(col.innerHTML);
                max_index = j;
            }
        }
        row.cells[max_index].style.color = '#39B68C';

        // if any are equal to the max, change them to green as well
        for (var j = 2, col; col = row.cells[j]; j++) {
            if (parseInt(col.innerHTML) == max) {
                col.style.color = '#39B68C';
            }
        }
    }
</script>
<style>
    .location-info {
        background-color: #203C50;
        padding: 10px 25px;
        border-radius: 10px;
        color: white;
    }

    .location-info table {
        color: white;
        background-color: #203C50 !important;
    }

    .location-info table th,
    .location-info table tr,
    .location-info table td {
        color: white;
        background-color: #203C50 !important;
    }
</style>