<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="row row-cols-auto justify-content-center">
    {% for entry, value in location_info.items() %}
        {% if loop.index0 % 3 == 0 %}
            <div class="col-12">
                {% if value['time_of_day'] == 'Morning' %}
                {% set icon = 'fa-sunrise' %}
                {% elif value['time_of_day'] == 'Day' %}
                {% set icon = 'fa-sun' %}
                {% elif value['time_of_day'] == 'Evening' %}
                {% set icon = 'fa-sunset' %}
                {% elif value['time_of_day'] == 'Night' %}
                {% set icon = 'fa-moon' %}
                {% endif %}
                <h3 class="text-center mt-3"><i class="fas fa-light {{icon}}"></i> {{value['time_of_day']}}<h3>
            </div>
            <div class="col">
        {% else %}
            <div class="col">
        {% endif %}
            <p class="text-center mt-2 mb-0">{{value['bait']}}</p>
            <canvas id="myChart{{entry}}" width="300" height="200" style="max-height:200px;max-width:300px;"></canvas>
            <script>
                var ctx = document.getElementById('myChart{{entry}}').getContext('2d');
                var labels = {{value['fish_names']|safe}};
                var data = {{value['fish_percents']|safe}};
                var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: labels,
                        datasets: [{
                            data: data,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.5)',
                                'rgba(54, 162, 235, 0.5)',
                                'rgba(255, 206, 86, 0.5)',
                                'rgba(75, 192, 192, 0.5)',
                                'rgba(153, 102, 255, 0.5)',
                                'rgba(255, 159, 64, 0.5)',
                                'rgba(255, 99, 132, 0.5)',
                                'rgba(54, 162, 235, 0.5)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        plugins: {
                            legend: {
                                position: 'right',
                            },
                            title: {
                                display: false,
                            }
                        }
                    }
                })
            </script>
            {% if loop.index0 % 3 == 2 %}
        </div>
    </div>
    <div class="row row-cols-auto justify-content-center">
            {% else %}
        </div>
            {% endif %}
    {% endfor %}
</div>