<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="info-background">
    <div class="d-flex justify-content-center mb-3">
        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#location_map">
            <i class="fas fa-map-location-dot"></i> View Map
        </button>
    </div>
    <p class="text-center"><i class="fas fa-exclamation" style="color:red;"></i> = No data has been recorded</p>
    <p class="text-center"><i class="fas fa-exclamation" style="color:orange;"></i> = Data is not strong enough to be reliable</p>
    <div class="row row-cols-auto justify-content-center">
        {% for entry, value in location_info.items() %}
            {% if loop.index0 % 3 == 0 %}
                <div class="col-12">
                    {% if value['time_of_day'] == 'Morning' %}
                    {% set icon = 'fa-sunrise' %}
                    {% elif value['time_of_day'] == 'Day' %}
                    {% set icon = 'fa-sun' %}
                    {% elif value['time_of_day'] == 'Evening' %}
                    {% set icon = 'fa-sunset' %}
                    {% elif value['time_of_day'] == 'Night' %}
                    {% set icon = 'fa-moon' %}
                    {% endif %}
                    <h3 class="text-center mt-5"><i class="fas fa-light {{icon}}"></i> {{value['time_of_day']}}<h3>
                </div>
                <div class="col">
            {% else %}
                <div class="col">
            {% endif %}
                <p class="text-center mt-2 mb-0">{{value['bait']}}
                    {% if value['total_caught'] == (value['fish_names'] | length) and not (value['location'] == 'Kilima Lake' and value['bait'] == 'No Bait') %}
                    <i class="fas fa-exclamation ms-2" style="color:red;"></i>
                    {% elif value['total_caught'] < 30 and not (value['location'] == 'Kilima Lake' and value['bait'] == 'No Bait') %}
                    <i class="fas fa-exclamation ms-2" style="color:orange;"></i>
                    {% endif %}
                </p>
                <canvas id="myChart{{entry}}" width="300" height="125" style="max-height:125px;max-width:300px;"></canvas>
                <script>
                    var ctx = document.getElementById('myChart{{entry}}').getContext('2d');
                    var labels = {{value['fish_names']|safe}};
                    var data = {{value['fish_percents']|safe}};
                    var myChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                            labels: labels,
                            datasets: [{
                                data: data,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.5)',
                                    'rgba(54, 162, 235, 0.5)',
                                    'rgba(255, 206, 86, 0.5)',
                                    'rgba(75, 192, 192, 0.5)',
                                    'rgba(153, 102, 255, 0.5)',
                                    'rgba(255, 159, 64, 0.5)',
                                    'rgba(255, 99, 132, 0.5)',
                                    'rgba(54, 162, 235, 0.5)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)',
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            plugins: {
                                legend: {
                                    position: 'right',
                                    labels: {
                                        font: {
                                            size: 12,
                                            family: 'Lexend Deca'
                                        },
                                    }
                                },
                                title: {
                                    display: false,
                                }
                            }
                        }
                    })
                </script>
                {% if loop.index0 % 3 == 2 %}
            </div>
        </div>
        <div class="row row-cols-auto justify-content-center">
                {% else %}
            </div>
                {% endif %}
        {% endfor %}
    </div>
</div>
<div class="modal fade" tab-index="-1" id="location_map" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center">{{location}}</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    {% if location == 'Kilima Pond/Bahari Ponds' %}
                    <img src="/static/images/Ponds/Kilima Ponds.png" id="loc_map" class="img-fluid" alt="Map of {{location}}">
                    {% else %}
                    <img src="/static/images/{{location}}.png" id="loc_map" class="img-fluid" alt="Map of {{location}}">
                    {% endif %}
                    {% if location == 'Kilima Pond/Bahari Ponds' %}
                    <button id="switch_loc_btn_loc" class="btn btn-primary" style="position: absolute;bottom: 2%;left: 2%;" onclick="bahariPonds();">Go to Bahari</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function kilimaPonds() {
        document.getElementById('loc_map').src = '/static/images/Ponds/Kilima Ponds.png';
        $('#switch_loc_btn_loc').text('Go to Bahari');
        $('#switch_loc_btn_loc').attr('onclick', 'bahariPonds();');
    }

    function bahariPonds() {
        document.getElementById('loc_map').src = '/static/images/Ponds/Bahari Ponds.png';
        $('#switch_loc_btn_loc').text('Go to Kilima');
        $('#switch_loc_btn_loc').attr('onclick', 'kilimaPonds();');
    }
</script>
<style>
    .info-background {
        border-radius: 10px;
        padding: 10px;
    }
</style>