<h3 class="text-center">Tips and Tricks</h3>
<ul>
    <li>
        <p>If you miss a fish, so long as you haven't reeled back in, just hang tight. The same fish will bite again!</p>
    </li>
    <li>
    <p>If you are looking for a specific fish and don't want to waste time or bait, let the unwanted fish bite and reel in after they swim away, then recast.
        You won't lose any bait, it takes less time than reeling a fish in, and you can try again for the fish you want! There are some drawbacks, however.
        Your rod and fishing equipment will still lose durability.
    </p>
    </li>
</ul>
<p class="text-muted">More to come!</p>