body {
    font-family: 'Lexend Deca', sans-serif;
    background-image: url("/static/images/Einar.webp");
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
}

.clickable {
    cursor: pointer;
}

#location_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}