body {
    font-family: 'Lexend Deca', sans-serif;
}

.clickable {
    cursor: pointer;
}

#location_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}